@import url(https://fonts.google.com/selection/embed);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 235, 235);
    font-family: "Winky Sans", sans-serif;
    margin: 5%;
    line-height: 1.6;
}
main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(28, 123, 54, 0.1);
}
header{
    text-align: center;
    color: rgb(196, 75, 96);
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    background-image: url('./Imagenes/fondo.jpg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
}

header figure img{
    border-radius: 50%;
    border: 5px solid hsl(308, 40%, 14%);
    box-shadow: 0px 0px 10px;
}

header h1{
    font-size: 1.2em;
    opacity: 0.7;
}